body {
	font-family: "OpenSans-Light";
}
.logo {
width: 80%;
}
nav ul {
list-style-type: none;
padding-top: 34px;
margin: 0 -15px 0 0;
float: right;
line-height: 20px;
white-space: nowrap;
}
nav li {
position: relative;
float: left;
margin: 0;
padding: 0;
border-right: 1px #97C095 solid;
}
nav li:hover a{
background: #55865A;
text-decoration: none;
}
nav a {
text-decoration: none;
padding: 10px 25px;
color: #97C095;}
nav a:hover {
color: #EFFCE4;
}
.img1 {		/*Imagen de la semilla hasta arriba*/
background-image: url("../img/semilla.jpg");
padding-bottom: 40%;
background-position: 0px -220px;
background-repeat: no-repeat;
}
.fg{ 		/*Propiedades de fondo gris*/
padding-top:3%;
padding-bottom: 5%;
}
#c1{
margin-bottom: 5%;
margin-left: 6%;
}
#c2 {
margin-top: 10%;
margin-bottom: 0%;
text-align: center;
}
.img2 {
width: 25%;
}
/*.....................................METODOLOGIA...........................*/

.img4 {		/*Imagen dentro de cuadro verde de metodo*/
margin-top: 5%;
margin-left: 45%;
}
.medida {
	width: 50%;
	height: 380px;
	position: relative;
}
.pos1 {
	float: right;	
}
.derecha{
float:right;
width: 35%;
margin-left:735px;
margin-top: -335px;
position: absolute;
}

/*--------------------SECCION DE PROTYECTOS---------------------*/
.img5 { 		/*Imagenes de servicios*/
width: 35%;
}
.img6{		/*.....Imagenes de proyectos........*/
width: 80%;
margin-left: 15%
}
.img7 {
width: 80%;
margin-top: -1%;
margin-left: 15%;
margin-bottom: 10%;
}
/*....*/
.h31 {
margin-top:10%;
margin-left: 16%;
}
.pt-30{
padding-top: 30%;
}
/*-------------------fin proyectos-----------------------------------*/

/*----------**--------SECCION DE EQUIPO--------------**------------*/

.imgc{
border-radius: 50%;
width:50%;
}

.redes{

margin-left: 33%;
display: inline;
}

.imgred{		/*tamaño imagen de redes sociales*/
	width: 10%;
	margin-top: 10%;
}

/*--------------------------**--------SECCION DE BLOG-------------------**--------*/

.bg-gris {
	background-image: url("../img/fondo2.jpg");
	z-index: -1;
}
.slider{
	width: 20%;
	margin-left: 10%;
	margin-top: 110%;
}
.slider2 {
	width: 40%;
	margin-top:220%;
	float:right;

}
.blogl{
	margin-left: -55px;
}

.imgb1{		/*Propiedades de las 3 imagenes*/
	width: 90%;
}

.bg1{			/*imagnes de los lados de las como las flechas */
	background-image: url("../img/iconos/slider/ecomunidad-15.png");
	background-repeat: no-repeat;

}
.bg2{			/*imagen de lado derecho usuario*/
	background-image: url("../img/iconos/slider/ecomunidad-16.png");
	background-repeat: no-repeat;
	margin-left: 1170px;
}
.mtop {				/*posisicon de las flechas*/
	position: absolute;
	width: 90px; 
	height: 90px;
	margin-top: 200px;
	left: 30px;
}

/*...............**.....SECCION DE REDES SOCIALES......**........................*/

#bg-gris{
	background-color: #4D4D4D;
	padding-bottom: 395px;
}
.cuadgde {
	border: 1px white solid;
	width: 1105px;
	height: 260px;
	position: absolute;
	margin: 65px;
}
#cuad{
	border-right: 1px white solid;
	width: 275px;
	height: 260px;
}
/*------margenes de posicionamiento----------*/
.mg-2{
	margin: -1px;
}
.mg-3{
	margin-left:275px;
	margin-top: -260px;
}
.mg-4{
	margin-left: 551px;
	margin-top: -260px;
}
.mg-5{
	margin-left: 829px;
	margin-top: -260px;
}

.pos2 {		/* posicion de la imagen dentro de los cuadros*/
	margin-top: 155px;
	margin-left: 140px;
	width: 42px;
}
.esp{		/*Simple y vulgar espacio */
	margin-left: 15px;
}
/*..........................**....FOOTER....**....................................*/

.pdl{
	padding-left: 5%;
}
.bg-gr{
	background-color: #B9B9B9;
	padding-bottom: 3%;
}
